body {
    background-color: lightgrey;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(51, 46, 46, 0.2);
    transition: 0.3s;
    height: 470px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 royalblue;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.fab:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10;
    background: white;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    width: 90%; 
    height: 0; 
    padding-bottom: 50%; 
}

.card-genero {
    width: 50%; 
    height: 0; 
    padding-bottom: 50%; 
    
}

.table{

    table-layout: fixed;

    justify-content: space-between;

}

.jumbotron-fluid {
    padding-right: 1;
    padding-left: 1;

  }


